{%- capture display_class -%}
    {% if display_by == 'full-info' %}flex items-center{% else %}relative py-2{% endif %}
{%- endcapture -%}
{%- capture icon_class -%}
    {% if request.path != '/cart' %}sf-cart-icon{% endif %}
{%- endcapture -%}

<a
    href="{{ routes.cart_url }}"
    class="{{ display_class | strip }} {{ icon_class | strip }} px-2 whitespace-nowrap cursor-pointer cart-icon"
    style="{% if display_by == 'text' %} margin-right: 0; {% endif %}"
>
    {% if display_by == 'full-info' %}
        <div
            class="relative rounded-full border border-color-border px-3 flex items-center justify-center"
            style="width: 48px; height: 48px;"
        >
            <span class="sf__tooltip-item block sf__tooltip-bottom sf__tooltip-style-2">
                <svg class="w-[20px] h-[20px]" fill="currentColor" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M352 128C352 57.42 294.579 0 224 0 153.42 0 96 57.42 96 128H0v304c0 44.183 35.817 80 80 80h288c44.183 0 80-35.817 80-80V128h-96zM224 48c44.112 0 80 35.888 80 80H144c0-44.112 35.888-80 80-80zm176 384c0 17.645-14.355 32-32 32H80c-17.645 0-32-14.355-32-32V176h48v40c0 13.255 10.745 24 24 24s24-10.745 24-24v-40h160v40c0 13.255 10.745 24 24 24s24-10.745 24-24v-40h48v256z"/></svg>
                <span class="sf__tooltip-content">{{ 'layout.cart.title' | t }}</span>
            </span>
            <sup class="sf-cart-count font-medium">{{ cart.item_count }}</sup>
        </div>
        <div class="ml-4">
            <p class="font-medium">{{ 'cart.general.title' | t }}</p>
            <p>{{ cart.total_price | money }}</p>
        </div>

        {% style %}
            .sf-cart-count {
                top: -0.25rem;
                right: -0.375rem;
            }
        {% endstyle %}
    {% elsif display_by == 'text' %}
        {{ 'layout.cart.title' | t }}
        <span class="sf-cart-count font-medium">{{ cart.item_count }}</span>
    {% else %}
        <span class="sf__tooltip-item block sf__tooltip-bottom sf__tooltip-style-2">
            <!-- <svg class="w-[20px] h-[20px]" fill="currentColor" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M352 128C352 57.42 294.579 0 224 0 153.42 0 96 57.42 96 128H0v304c0 44.183 35.817 80 80 80h288c44.183 0 80-35.817 80-80V128h-96zM224 48c44.112 0 80 35.888 80 80H144c0-44.112 35.888-80 80-80zm176 384c0 17.645-14.355 32-32 32H80c-17.645 0-32-14.355-32-32V176h48v40c0 13.255 10.745 24 24 24s24-10.745 24-24v-40h160v40c0 13.255 10.745 24 24 24s24-10.745 24-24v-40h48v256z"/></svg> -->
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
              <path d="M5 1.6665L2.5 4.99984V16.6665C2.5 17.1085 2.67559 17.5325 2.98816 17.845C3.30072 18.1576 3.72464 18.3332 4.16667 18.3332H15.8333C16.2754 18.3332 16.6993 18.1576 17.0118 17.845C17.3244 17.5325 17.5 17.1085 17.5 16.6665V4.99984L15 1.6665H5Z" stroke="#191919" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M2.5 5H17.5" stroke="#191919" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M13.3334 8.3335C13.3334 9.21755 12.9822 10.0654 12.357 10.6905C11.7319 11.3156 10.8841 11.6668 10 11.6668C9.11597 11.6668 8.26812 11.3156 7.643 10.6905C7.01788 10.0654 6.66669 9.21755 6.66669 8.3335" stroke="#191919" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          <span class="sf__tooltip-content">{{ 'layout.cart.title' | t }}</span>
        </span>
        <span class="sf-cart-count font-medium">{{ cart.item_count }}</span>
    {% endif %}
</a>
