<div class="collection-category">
  <div class="container-fluid ">
    <h1>Categories</h1>
    <div class="owl-carousel owl-theme" id="colCats">
      <div class="item">
        <div class="inner-content">
          <a href="/collections/school-work-backpacks">
             <img src="{{ 'backpack (2).jpg' | asset_url }}">
            <div class="overlay-content">
               <h3>SCHOOL & WORK BACKPACKS</h3>
             </div>
          </a>
        </div>
      </div>
      
      <div class="item">
        <div class="inner-content">
          <a href="/collections/sporting-goods-backpack">
             <img src="{{ 'SPORTING GOODS copy (3).jpg' | asset_url }}">
            <div class="overlay-content">
               <h3>SPORTING GOODS BACKPACKS</h3>
             </div>
          </a>
        </div>
      </div>
      
<!--       <div class="item">
        <div class="inner-content">
          <a href="/collections/print-drawstring-backpacks">
             <img src="{{ 'drawstring.jpg' | asset_url }}">
            <div class="overlay-content">
               <h3>DRAWSTRING BACKPACKS</h3>
             </div>
          </a>
        </div>
      </div> -->

      <div class="item">
        <div class="inner-content">
          <a href="/collections/convertible-tote-backpack">
             <img src="{{ 'convertable tote.jpg' | asset_url }}">
             <div class="overlay-content">
               <h3>CONVERTIBLE TOTES & BACKPACKS</h3>
             </div>
          </a>
        </div>
      </div>
      
      <div class="item">
        <div class="inner-content">
          <a href="/collections/sling-bags">
             <img src="{{ 'subcat2.jpg' | asset_url }}">
            <div class="overlay-content">
               <h3>SLING BAGS </h3>
             </div>
          </a>
        </div>
      </div>

      <div class="item">
        <div class="inner-content">
          <a href="/collections/waterproof-backpacks">
             <img src="{{ 'waterproof backpacks-col.jpg' | asset_url }}">
            <div class="overlay-content">
               <h3>WATERPROOF BACKPACKS</h3>
             </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Backpacks Collection",
  "settings": [],
   "presets": [{
  "name": "Backpacks Collection"
}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}