<div class="coolers-categories">
  <div class="coolers-categories-inner">
    <div class="coolers-categories-boxes">
      <h1>SOFT COOLERS</h1>
      <a href="/collections/soft-coolers">
        <img src="{{ 'cooler-category-11.png' | asset_url }}">
        <div class="cooler-categories-overlay">
           <img src="{{ 'cooler-category-first-image.png' | asset_url }}">
        </div>
      </a>
    </div>
    <div class="coolers-categories-boxes">
      <h1>REMOVABLE LINER COOLERS</h1>
      <a href="/collections/removable-hard-liner-coolers">
        <img src="{{ 'cooler-category-12.png' | asset_url }}">
        <div class="cooler-categories-overlay">
           <img src="{{ 'cooler-category-third-image.png' | asset_url }}">
        </div>
      </a>
    </div>
    <div class="coolers-categories-boxes">
      <h1>BACKPACK COOLERS</h1>
      <a href="/collections/backpack-coolers">
        <img src="{{ 'cooler-category-13.png' | asset_url }}">
        <div class="cooler-categories-overlay">
           <img src="{{ 'cooler-category-second-image.png' | asset_url }}">
        </div>
      </a>
    </div>
    <div class="coolers-categories-boxes">
      <h1>WATERPROOF COOLERS</h1>
      <a href="/collections/waterproof-coolers">
        <img src="{{ 'cooler-category-14.png' | asset_url }}">
        <div class="cooler-categories-overlay">
           <img src="{{ 'cooler-category-four-image.png' | asset_url }}">
        </div>
      </a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Cooler Categories",
  "settings": [],
   "presets": [{
  "name": "Cooler Categories"
}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}