<div class="collection-category">
  <div class="container-fluid ">
    <h1>Categories</h1>
    <div class="owl-carousel owl-theme" id="colCat">
      <div class="item">
        <div class="inner-content">
          <a href="/collections/soft-coolers">
             <img src="{{ 'soft-cooler23.jpg' | asset_url }}">
            <div class="overlay-content">
               <h3>SOFT COOLERS</h3>
             </div>
          </a>
        </div>
      </div>

      <div class="item">
        <div class="inner-content">
          <a href="/collections/dry-bag-coolers">
             <img src="{{ 'nsubcat3.jpg' | asset_url }}">
            <div class="overlay-content">
               <h3>WATERPROOF COOLERS</h3>
             </div>
          </a>
        </div>
      </div>

      <div class="item">
        <div class="inner-content">
          <a href="/collections/removable-hard-liner-coolers">
             <img src="{{ 'nsubcat1.jpg' | asset_url }}">
            <div class="overlay-content">
               <h3>REMOVABLE LINER COOLERS</h3> 
             </div>
          </a>
        </div>
      </div>

      <div class="item">
        <div class="inner-content">
          <a href="/collections/tote-coolers">
             <img src="{{ 'nsubcat2.jpg' | asset_url }}">
            <div class="overlay-content">
               <h3>TOTE COOLERS</h3>
             </div>
          </a>
        </div> 
      </div> 
      
      <div class="item">
        <div class="inner-content">
          <a href="/collections/backpack-coolers">
             <img src="{{ 'backpack cooler.jpg' | asset_url }}">
             <div class="overlay-content">
               <h3>BACKPACK COOLERS</h3>
             </div>
          </a>
        </div>
      </div>

      <div class="item"> 
        <div class="inner-content">
          <a href="/collections/cooler-accessories">
             <img src="{{ 'cooler subcate.jpg' | asset_url }}">
             <div class="overlay-content">
               <h3>COOLER ACCESSORIES</h3>
             </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Coolers Collection",
  "settings": [],
   "presets": [{
  "name": "Coolers Collection"
}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}