<div class="cooler-banner">
  <p>Whatever the Occasion,</p>
  <h1>We Have a Cooler for it</h1>
  <div class="owl-carousel owl-theme cooler-banner-inner" id="coolerSlider">
    <div class="item cooler-banner-boxes first">
      <a href="/products/waterproof-30l-dry-bag-cooler">
        <img src="{{ 'cooler-pro.png' | asset_url }}">
        <div class="coolerbanner-link">
          <h2>Explore Dry Bag Cooler</h2>
        </div>     
        </a>
    </div>
    <div class="item cooler-banner-boxes second">
      <a href="/products/verticool-cooler">
        <img src="{{ 'verticool-pro.png' | asset_url }}">
        <div class="coolerbanner-link">
          <h2>Explore Verticool</h2>
        </div>     
        </a>
    </div>
    <div class="item cooler-banner-boxes third">
      <a href="/products/large-cooler">
        <img src="{{ 'large-cooler-pro.png' | asset_url }}">
        <div class="coolerbanner-link">
          <h2>Explore Large Cooler</h2>
        </div>     
        </a>
    </div>
    <div class="item cooler-banner-boxes four">
      <a href="/products/opticool-backpack-cooler">
        <img src="{{ 'opticool-cooler-pro.png' | asset_url }}">
        <div class="coolerbanner-link">
          <h2>Explore Opticool Cooler</h2>
        </div>     
        </a>
    </div>
    <div class="item cooler-banner-boxes five">
      <a href="/products/25l-tote-cooler">
        <img src="{{ 'tote-cooler-pro.png' | asset_url }}">
        <div class="coolerbanner-link">
          <h2>Explore Tote Cooler</h2>
        </div>     
        </a>
    </div>
  </div>

  <h3>CHILL ON THE GO</h3>
  <p class="cooler-bottom">Adventure-Ready Coolers</p>
  <div class="cooler-arrow">
    <img src="{{ 'cooler-arrow.png' | asset_url }}">
  </div>
</div>
{% schema %}
{
  "name": "Cooler Banner",
  "settings": [],
   "presets": [{
  "name": "Cooler Banner"
}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}