<div class="gift-guide home-custom-fslider">
  <div class="gift-guide-inner">
    <h2>GIFT GUIDE</h2>
     <div class="owl-carousel owl-theme giftGuide">
       <div class="item">
          <img src="{{ 'Untitled-2asdf.jpg' | asset_url }}" alt="Gift Guide"> 
          <div class="gift-guide-overlay"> 
            <div class="gift-guide-overlay-inner">
              <h1>IT'S 5 0' CLOCK SOMEWHERE</h1>
              <a href="/collections/margaritaville" class="btn-shop">SHOP MARGARITAVILLE</a>
            </div>
          </div>
      </div>
       
      <div class="item">
          <img src="{{ 'adfad.jpg' | asset_url }}" alt="Gift Guide"> 
          <div class="gift-guide-overlay"> 
            <div class="gift-guide-overlay-inner">
              <h1>OVERSIZED FOR THE BEACH GOER</h1>
              <a href="/collections/beach-totes" class="btn-shop">SHOP BEACH TOTES</a>
            </div>
          </div>
      </div>

       <div class="item">
          <img src="{{ 'glasses1.jpg' | asset_url }}" alt="Gift Guide"> 
          <div class="gift-guide-overlay">
            <div class="gift-guide-overlay-inner">
              <h1>SUNGLASSES THAT FLOAT FOR <br>THE ACCIDENT PRONE</h1>
              <a href="/collections/floating-sunglasses" class="btn-shop">SHOP FLOATING SUNGLASSES</a>
            </div>
          </div>
      </div>

       <div class="item">
          <img src="{{ 'asdfaaaasdf.jpg' | asset_url }}" alt="Gift Guide"> 
          <div class="gift-guide-overlay"> 
            <div class="gift-guide-overlay-inner">
              <h1 class="white">WATERPROOF & INTERACTIVE</h1>
              <a href="/products/hydroner-20l-backpack" class="btn-shop">SHOP 20L HYDRONERS</a>
            </div>
          </div>
      </div>

       <div class="item">
          <img src="{{ 'asdfa.jpg' | asset_url }}" alt="Gift Guide"> 
          <div class="gift-guide-overlay"> 
            <div class="gift-guide-overlay-inner">
              <h1 class="white">8 POCKETS FOR THE ORGANIZED ONE</h1>
              <a href="/products/8-pocket-tote-collection" class="btn-shop">SHOP 8 POCKET TOTES</a>
            </div>
          </div>
      </div>

       <div class="item">
          <img src="{{ 'image asdf.jpg' | asset_url }}" alt="Gift Guide"> 
          <div class="gift-guide-overlay"> 
            <div class="gift-guide-overlay-inner">
              <h1 class="white">COOZIES FOR EVERYONE TO ENJOY</h1>
              <a href="/collections/coozies" class="btn-shop">SHOP HYDRATION</a>
            </div>
          </div>
      </div>

       <div class="item">
          <img src="{{ 'sd1.jpg' | asset_url }}" alt="Gift Guide"> 
          <div class="gift-guide-overlay"> 
            <div class="gift-guide-overlay-inner">
              <h1 class="white">KEEP ALL YOUR ESSENTIALS IN ONE PLACE</h1>
              <a href="/products/swim-bag" class="btn-shop">SHOP SWIM BAGS</a>
            </div>
          </div>
      </div>

       <div class="item">
          <img src="{{ 'asdfaaa.jpg' | asset_url }}" alt="Gift Guide"> 
          <div class="gift-guide-overlay"> 
            <div class="gift-guide-overlay-inner">
              <h1 class="white">KEEP IT COLD</h1>
              <a href="/collections/ice-pack" class="btn-shop">SHOP GECKO ICE</a>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="{{ 'sd.jpg' | asset_url }}" alt="Gift Guide"> 
          <div class="gift-guide-overlay"> 
            <div class="gift-guide-overlay-inner">
              <h1 class="white">FOR THE ATHLETE</h1>
              <a href="/products/all-sport-32l-backpack" class="btn-shop">SHOP SPORTS BACKPACK</a>
            </div>
          </div>
        </div>
       
     </div>
    <span id="slider-counter"></span>
  </div>
</div>
{% schema %}
{
  "name": "Gift Guide",
  "settings": [],
   "presets": [{
  "name": "Gift Guide"
}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}