<div class="home-category">
    <h2>Gifts for everyone on your list</h2>
    <div class="owl-carousel owl-theme" id="homeGifts">
        <div class="item">
          <a href="">
            <img src="{{ 'gift1.jpg' | asset_url }}">
              <div class="cta-description">
                <h5><span>STOCKING STUFFERS</span></h5><p>Stuff their stockings with stuff they’ll actually use.</p>
                <button class="add-to-bag">Shop Now</button>
              </div>
          </a>
        </div>
         <div class="item">
           <a href="">
            <img src="{{ 'gift2.jpg' | asset_url }}">
             <div class="cta-description">
                <h5>GIFTS $50 &amp; UNDER</h5><p>Top off their stocking, crush White Elephant, and solve for the toughest on your list.</p>
                <button class="add-to-bag">Shop Now</button>
              </div>
           </a>
        </div>
         <div class="item">
           <a href="">
            <img src="{{ 'gift3.jpg' | asset_url }}">
             <div class="cta-description">
              <h5>ROADTRIPPERS</h5><p>Built for long roads, dirt roads, and no roads at all.</p>
              <button class="add-to-bag">Shop Now</button>
              </div>
           </a>
        </div>
         <div class="item">
           <a href="">
            <img src="{{ 'gift4.jpg' | asset_url }}">
            <div class="cta-description">
            <h5>ENTERTAINERS</h5><p>Throw the party of the century – for the rest of the century.</p>
            <button class="add-to-bag">Shop Now</button>
            </div>
           </a>
        </div>
         <div class="item">
           <a href="">
            <img src="{{ 'gift5.jpg' | asset_url }}">
             <div class="cta-description">
              <h5>GO-GETTERS</h5><p>Gear for the next climb, excursion, or training session.</p>
              <button class="add-to-bag">Shop Now</button>
              </div>
           </a>
        </div>
      <div class="slider-counter"><p>1/4</p></div>
      </div>
</div>
{% schema %}
{
  "name": "Home Gifts",
  "settings": [],
   "presets": [{
  "name": "Home Gifts"
}]
}
{% endschema %}
