<div class="home-services home-se">
  <div class="container">
    <div class="row"> 
      <div class="col-12 col-lg-9">
        <div class="owl-carousel owl-theme" id="iconslider">
              <div class="item">
                  <div class="circle">
                    <img src="{{ '30 day money back guranatee.png' | asset_url }}">
                    <h1>30 Day Money<br> Back Guranatee</h1>
                  </div>
              </div>
              <div class="item">
                  <div class="circle">
                    <img src="{{ 'free shipping over .png' | asset_url }}">
                    <h1>Free Shipping<br> Over $20</h1>
                  </div>
        	   </div>
              <div class="item">
                  <div class="circle">
                    <img src="{{ 'high quality material.png' | asset_url }}">
                    <h1>High Quality<br> Material</h1>
                  </div>  
          	  </div>
              <div class="item">
                  <div class="circle">
                    <img src="{{ 'long lasting performance.png' | asset_url }}">
                    <h1>Long Lasting <br> Performance</h1>
                  </div>
          	  </div>
              <div class="item">
                    <div class="circle">
                      <img src="{{ 'satisfaction guarantee.png' | asset_url }}">
                      <h1>Satisfaction<br> Guarantee</h1>
                    </div>                 
          	  </div>
              <div class="item">
                    <div class="circle">
                       <img src="{{ 'rated 5 star on amazon.png' | asset_url }}">
                      <h1>Rated 5 Star<br> On Amazon</h1>
                    </div>
              </div>
          </div>
      	</div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Home Services",
  "settings": [],
   "presets": [{
  "name": "Home Services"
}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}