<div class="home-category">
    <h2>Explore by Category</h2>
    <div class="owl-carousel owl-theme" id="homeCat">
        <div class="item">
          <a href="">
            <img src="{{ 'cat1.jpg' | asset_url }}">
            <h4>Coolers</h4>
          </a>
        </div>
         <div class="item">
           <a href="">
            <img src="{{ 'cat2.jpg' | asset_url }}">
             <h4>Drinkware</h4>
           </a>
        </div>
         <div class="item">
           <a href="">
            <img src="{{ 'cat3.jpg' | asset_url }}">
             <h4>Custom</h4>
           </a>
        </div>
         <div class="item">
           <a href="">
            <img src="{{ 'cat4.jpg' | asset_url }}">
             <h4>Bags</h4>
           </a>
        </div>
         <div class="item">
           <a href="">
            <img src="{{ 'cat5.jpg' | asset_url }}">
             <h4>Apparel</h4>
           </a>
        </div>
      <div class="item">
           <a href="">
            <img src="{{ 'cat6.jpg' | asset_url }}">
             <h4>Cargo</h4>
           </a>
        </div>
      <div class="item">
           <a href="">
            <img src="{{ 'cat7.jpg' | asset_url }}">
             <h4>Outdoor Living</h4>
           </a>
        </div>
      <div class="item"> 
           <a href="">
            <img src="{{ 'cat8.jpg' | asset_url }}">
             <h4>Dogs</h4>
           </a>
        </div>
      <div class="slider-counter"><p>1/7</p></div>
      </div>
</div>
{% schema %}
{
  "name": "Home Category",
  "settings": [],
   "presets": [{
  "name": "Home Category"
}]
}
{% endschema %}
