<div class="home-category home-trending">
    <h2>TRENDING GIFTS</h2>
    <div class="owl-carousel owl-theme" id="homeTrend">
      <div class="item">
            <div class="prod-box">
              <div class="prod-badge">
                <div class="new-badge">New</div>
                <div class="wishlist">
                  <i class="far fa-heart"></i>
                  <i class="fas fa-heart"></i>
                </div>
              </div>
            <div class="prod-images">
               <img class="actual" src="{{ 'thumb1.png' | asset_url }}">
            </div>
            <div class="pdp-link">
              <a class="link" href="">
                <span class="product-master-name">Hopper®</span>
                <span class="product-variation-name">M20 Soft Backpack Cooler</span>
              </a>
            </div>
            <div class="prod-detail">
              <h6 class="price">$325.00</h6>
              <p>Spend $200 and get 1 free Rambler® 14oz Mug <br>
              <span><em>Exclusions apply.&nbsp;<a href="" target="_blank">See details</a>.</em></span></p>
              <a href="" class="add-to-cart">Add to Bag</a>
            </div>
          </div>
        </div>
         <div class="item">
            <div class="prod-box">
              <img class="main" src="{{ 'trend1.jpg' | asset_url }}">
             <div class="cta-description ">
                <h2>GET A FREE RAMBLER®<br>14 OZ MUG</h2><p>When you spend $200 or more.</p>
                <a href="#" class="add-to-bag">Shop Now</a>
                <div class="text-disclaimer">
                <p>Offer expires 12/19/22. Exclusions apply.<br><a href="#" target="_self">See Details. </a></p>
                </div>
                </div>
            </div>
        </div>
         <div class="item">
            <div class="prod-box">
              <div class="prod-badge">
                <div class="new-badge">New</div>
                <div class="wishlist">
                  <i class="far fa-heart"></i>
                  <i class="fas fa-heart"></i>
                </div>
              </div>
            <div class="prod-images">
               <img class="actual" src="{{ 'thumb1.png' | asset_url }}">
            </div>
            <div class="pdp-link">
              <a class="link" href="">
                <span class="product-master-name">Hopper®</span>
                <span class="product-variation-name">M20 Soft Backpack Cooler</span>
              </a>
            </div>
            <div class="prod-detail">
              <h6 class="price">$325.00</h6>
              <p>Spend $200 and get 1 free Rambler® 14oz Mug <br>
              <span><em>Exclusions apply.&nbsp;<a href="" target="_blank">See details</a>.</em></span></p>
              <a href="" class="add-to-cart">Add to Bag</a>
            </div>
          </div>
        </div>
         <div class="item">
            <div class="prod-box">
              <div class="prod-badge">
                <div class="new-badge">New</div>
                <div class="wishlist">
                  <i class="far fa-heart"></i>
                  <i class="fas fa-heart"></i>
                </div>
              </div>
            <div class="prod-images">
               <img class="actual" src="{{ 'thumb1.png' | asset_url }}">
            </div>
            <div class="pdp-link">
              <a class="link" href="">
                <span class="product-master-name">Hopper®</span>
                <span class="product-variation-name">M20 Soft Backpack Cooler</span>
              </a>
            </div>
            <div class="prod-detail">
              <h6 class="price">$325.00</h6>
              <p>Spend $200 and get 1 free Rambler® 14oz Mug <br>
              <span><em>Exclusions apply.&nbsp;<a href="" target="_blank">See details</a>.</em></span></p>
              <a href="" class="add-to-cart">Add to Bag</a>
            </div>
          </div>
        </div>
<!--          <div class="item">
            <div class="prod-box">
            <img class="main" src="{{ 'trend2.png' | asset_url }}">
             <div class="cta-description ">
              <h2><span ><span>GIFT NOW.<br>PAY LATER.&#xFEFF;</span></span></h2><p>Shop now. Pay over time with Klarna.</p>
              <div class="text-disclaimer">
              <p><a href="" target="_self">Learn more.</a></p>
              </div>
              </div>
            </div>
        </div> -->
      <div class="item">
            <div class="prod-box">
              <div class="prod-badge">
                <div class="new-badge">New</div>
                <div class="wishlist">
                  <i class="far fa-heart"></i>
                  <i class="fas fa-heart"></i>
                </div>
              </div>
            <div class="prod-images">
               <img class="actual" src="{{ 'thumb1.png' | asset_url }}">
            </div>
            <div class="pdp-link">
              <a class="link" href="">
                <span class="product-master-name">Hopper®</span>
                <span class="product-variation-name">M20 Soft Backpack Cooler</span>
              </a>
            </div>
            <div class="prod-detail">
              <h6 class="price">$325.00</h6>
              <p>Spend $200 and get 1 free Rambler® 14oz Mug <br>
              <span><em>Exclusions apply.&nbsp;<a href="" target="_blank">See details</a>.</em></span></p>
              <a href="" class="add-to-cart">Add to Bag</a>
            </div>
          </div>
        </div>
      <div class="item">
            <div class="prod-box">
              <div class="prod-badge">
                <div class="new-badge">New</div>
                <div class="wishlist">
                  <i class="far fa-heart"></i>
                  <i class="fas fa-heart"></i>
                </div>
              </div>
            <div class="prod-images">
               <img class="actual" src="{{ 'thumb1.png' | asset_url }}">
            </div>
            <div class="pdp-link">
              <a class="link" href="">
                <span class="product-master-name">Hopper®</span>
                <span class="product-variation-name">M20 Soft Backpack Cooler</span>
              </a>
            </div>
            <div class="prod-detail">
              <h6 class="price">$325.00</h6>
              <p>Spend $200 and get 1 free Rambler® 14oz Mug <br>
              <span><em>Exclusions apply.&nbsp;<a href="" target="_blank">See details</a>.</em></span></p>
              <a href="" class="add-to-cart">Add to Bag</a>
            </div>
          </div>
        </div>
      <div class="slider-counter"><p>1/6</p></div>
      </div>
</div>
{% schema %}
{
  "name": "Home Trending",
  "settings": [],
   "presets": [{
  "name": "Home Trending"
}]
}
{% endschema %}

<script>
  $(document).ready(function(){  
  $(".actual").hover(function(){  
    $(this).attr('src','https://cdn.shopify.com/s/files/1/0683/7741/1865/t/3/assets/thumb1-hover.png');  
    }, function(){  
    $(this).attr('src','https://cdn.shopify.com/s/files/1/0683/7741/1865/t/3/assets/thumb1.png');  
  });  
}); 
</script>
