<div class="mother-day-products june-collection home-custom-fslider">
  <div class="mother-day-products-inner">
     <h2>Explore More</h2>
     <div class="owl-carousel owl-theme juneSlider">
      <div class="june-collection-box item">
        <a href="/collections/removable-hard-liner-coolers">
          <img src="{{ 'gecko-imagesArtboard-1-copy-5.png' | asset_url }}" alt="coolers">
          <div class="june-collection-overlay"> 
            <h1>COOLERS</h1>
            <!-- <a class="shop-now" href="/collections/removable-hard-liner-coolers">Shop Now</a> -->
          </div>
        </a>
      </div>
       
       <div class="june-collection-box item">
        <a href="/collections/totes">
          <img src="{{ 'gecko-imagesArtboard-1-copy-3.png' | asset_url }}" alt="totes">
          <div class="june-collection-overlay">
            <h1>TOTES</h1>
          </div>
        </a>
      </div>
       
      <div class="june-collection-box item">
        <a href="/collections/backpacks">
          <img src="{{ 'gecko-imagesArtboard-1-copy.png' | asset_url }}" alt="backpacks">
          <div class="june-collection-overlay">
            <h1>BACKPACKS</h1>
          </div>
        </a>
      </div>

      <div class="june-collection-box item">
        <a href="/collections/luggage">
          <img src="{{ 'gecko-imagesArtboard-1.png' | asset_url }}" alt="luggage">
          <div class="june-collection-overlay">
            <h1>TRAVEL GEAR</h1>
            <!-- <a class="white shop-now" href="/collections/coozies-and-tumblers">Shop Now</a> -->
          </div>
        </a>
      </div>
       
       <div class="june-collection-box item">
        <a href="/collections/automotive-accessories">
          <img src="{{ 'gecko-imagesArtboard-1-copy-2.png' | asset_url }}" alt="automotive">
          <div class="june-collection-overlay">
            <h1>AUTOMOTIVE</h1>
          </div>
        </a>
      </div>
       
      <div class="june-collection-box item">
        <a href="/collections/coozies-and-tumblers">
          <img src="{{ 'gecko-imagesArtboard-1-copy-4.png' | asset_url }}" alt="drinkware">
          <div class="june-collection-overlay">
            <h1>DRINKWARE</h1>
            <!-- <a class="white shop-now" href="/collections/coozies-and-tumblers">Shop Now</a> -->
          </div>
        </a>
      </div>

       <div class="june-collection-box item">
        <a href="/collections/id-case-wallets">
          <img src="{{ 'id-cases-cat.png' | asset_url }}" alt="drinkware">
          <div class="june-collection-overlay">
            <h1>ID CASES</h1>
          </div>
        </a>
      </div>

       <div class="june-collection-box item">
        <a href="/collections/sporting-goods">
          <img src="{{ 'sporting-goods-cat.png' | asset_url }}" alt="drinkware">
          <div class="june-collection-overlay">
            <h1>SPORTING GOODS</h1>
          </div>
        </a>
      </div>
       
     </div>
    <span id="slider-counter"></span>
  </div>
</div>

{% schema %}
{
  "name": "July Collection",
  "settings": [],
   "presets": [{
  "name": "July Collection"
}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}