<div class="mother-day-gallery">
  <h1>Must see Adventures</h1>
  <p>Share your amazing experiences with us #everywhereyougo</p>
  <a href="https://www.instagram.com/geckobrands/" class="see-gallery" target="_blank">See More</a>
  <div class="owl-carousel owl-theme gallery-slider">
    <div class="item">
      <a href="https://www.instagram.com/p/ChpXxVvugZC/" target="_blank"> 
        <img src="{{ 'mother4-7.png' | asset_url }}" alt="instagram-mother-day-gallery-1">
      </a>
    </div>
    <div class="item">
      <a href="https://www.instagram.com/p/CjwGqs5Ow1F/" target="_blank">
        <img src="{{ 'mother1 (1).png' | asset_url }}" alt="instagram-mother-day-gallery-2">
      </a>
    </div>
    <div class="item">
      <a href="https://www.instagram.com/p/Cn2IKdtsqA6/" target="_blank">
        <img src="{{ 'mother11.png' | asset_url }}" alt="instagram-mother-day-gallery-3">
      </a>
    </div>
    <div class="item">
      <a href="https://www.instagram.com/p/B2kcImXFpJ9/" target="_blank">
        <img src="{{ 'mother2.png' | asset_url }}" alt="instagram-mother-day-gallery-4">
      </a>
    </div>
    <div class="item">
      <a href="https://www.instagram.com/p/CjZEb81ucr2/" target="_blank">
        <img src="{{ 'mother5.png' | asset_url }}" alt="instagram-mother-day-gallery-5">
      </a>
    </div>
    <div class="item">
      <a href="https://www.instagram.com/p/CjZEb81ucr2/" target="_blank">
        <img src="{{ 'ig1-2.png' | asset_url }}" alt="instagram-mother-day-gallery-6">
      </a>
    </div>
     <div class="item">
      <a href="https://www.instagram.com/p/CjZEb81ucr2/" target="_blank">
        <img src="{{ 'ig2-1.png' | asset_url }}" alt="instagram-mother-day-gallery-7">
      </a>
    </div>
     <div class="item">
      <a href="https://www.instagram.com/p/CjZEb81ucr2/" target="_blank">
        <img src="{{ 'ig3.jpg' | asset_url }}" alt="instagram-mother-day-gallery-8">
      </a>
    </div>
</div>
</div>
{% schema %}
{
  "name": "Mother Day gallery",
  "settings": [],
   "presets": [{
  "name": "Mother Day gallery"
}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}