<div class="collection-category">
  <div class="container-fluid ">
    <h1>Categories</h1>
    <div class="owl-carousel owl-theme" id="colCat">
      <div class="item">
        <div class="inner-content">
          <a href="/collections/automotive-accessories">
             <img src="{{ 'auto accesories.jpg' | asset_url }}">
             <div class="overlay-content">
               <h3>AUTO ACCESSORIES</h3>
             </div>
          </a>
        </div>
      </div>

      <div class="item">
        <div class="inner-content">
          <a href="/collections/coozies">
             <img src="{{ 'coozie.jpg' | asset_url }}">
            <div class="overlay-content">
               <h3>COOZIES & TUMBLERS</h3>
             </div>
          </a>
        </div>
      </div>
      
      <div class="item">
        <div class="inner-content">
          <a href="/collections/camping-cookware">
             <img src="{{ 'cooking ware.jpg' | asset_url }}">
            <div class="overlay-content">
               <h3>CAMPING COOKWARE</h3>
             </div>
          </a>
        </div>
      </div>
      
      <div class="item">
        <div class="inner-content">
          <a href="/collections/luggage">
             <img src="{{ 'luggage.jpg' | asset_url }}">
            <div class="overlay-content">
               <h3>LUGGAGE </h3>
             </div>
          </a>
        </div>
      </div>
      
      <div class="item">
        <div class="inner-content">
          <a href="/collections/other-gear-1">
             <img src="{{ 'stakes1.jpg' | asset_url }}">
            <div class="overlay-content">
               <h3>ACCESSORIES</h3>
             </div>
          </a>
        </div>
      </div>
       
      <div class="item">
        <div class="inner-content">
          <a href="/collections/sporting-goods">
             <img src="{{ 'SPORTING GOODS copy.jpg' | asset_url }}">
            <div class="overlay-content">
               <h3>Sporting Goods</h3>
             </div>
          </a>
        </div>
      </div>     
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Othergear Collection",
  "settings": [],
   "presets": [{
  "name": "Othergear Collection"
}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}