<div class="collection-category">
  <div class="container-fluid ">
    <h1>Categories</h1>
    <div class="owl-carousel owl-theme" id="colCat">
      <div class="item">
        <div class="inner-content">
          <a href="/products/large-utility-tote">
             <img src="{{ 'geckoweb-1.jpg' | asset_url }}">
            <div class="overlay-content">
               <h3>LARGE UTILITY TOTES</h3>
             </div>
          </a>
        </div>
      </div>
      
      <div class="item">
        <div class="inner-content">
          <a href="/products/8-pocket-tote">
             <img src="{{ '8pockettote-2023.jpg' | asset_url }}">
             <div class="overlay-content">
               <h3>8 POCKET TOTES</h3>
             </div>
          </a>
        </div>
      </div>
      
      <div class="item">
        <div class="inner-content">
          <a href="/collections/beach-totes">
             <img src="{{ 'gecko-web-2.jpg' | asset_url }}">
            <div class="overlay-content">
               <h3>BEACH TOTES</h3>
             </div>
          </a>
        </div>
      </div>
      
     <div class="item">
        <div class="inner-content">
          <a href="/collections/crossbody-bags">
             <img src="{{ 'gecko-web-4.jpg' | asset_url }}">
            <div class="overlay-content">
               <h3>CROSSBODY BAGS</h3>
             </div>
          </a>
        </div>
      </div>
      
      <div class="item">
        <div class="inner-content">
          <a href="/collections/7-pocket-totes-other-totes">
             <img src="{{ 'geckoweb-3.jpg' | asset_url }}">
            <div class="overlay-content">
               <h3>OTHER TOTES</h3>
             </div>
          </a>
        </div>
      </div>
      
      <div class="item">
        <div class="inner-content">
          <a href="/collections/tote-accessories">
             <img src="{{ 'tote-accessories-2023.jpg' | asset_url }}">
            <div class="overlay-content">
               <h3>TOTE ACCESSORIES</h3>
             </div>
          </a>
        </div>
      </div> 
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Totes Collection",
  "settings": [],
   "presets": [{
  "name": "Totes Collection"
}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}