<div class="collection-category">
  <div class="container-fluid ">
    <h1>Categories</h1>
    <div class="owl-carousel owl-theme" id="colCat">
      <div class="item">
        <div class="inner-content">
          <a href="/collections/lightweight-30l-backpacks">
             <img src="{{ 'geckobrand new 5.jpg' | asset_url }}">
            <div class="overlay-content">
               <h3>LIGHTWEIGHT  BACKPACKS</h3>
             </div>
          </a>
        </div>
      </div>
      
      <div class="item">
        <div class="inner-content">
          <a href="/collections/waterproof-drawstring-backpacks">
             <img src="{{ 'geckobrand new 4.jpg' | asset_url }}">
             <div class="overlay-content">
               <h3>DRAWSTRING BACKPACKS</h3>
             </div>
          </a>
        </div>
      </div>

      <div class="item">
        <div class="inner-content">
          <a href="/collections/phone-dry-bags">
             <img src="{{ 'subcat5.jpg' | asset_url }}">
            <div class="overlay-content">
               <h3>PHONE DRY BAGS </h3>
             </div>
          </a>
        </div>
      </div>
      
      <div class="item">
        <div class="inner-content">
          <a href="/collections/dry-bags-boxes">
             <img src="{{ 'geckobrand new 1.jpg' | asset_url }}">
            <div class="overlay-content">
               <h3>DRY BAGS & BOXES</h3>
             </div>
          </a>
        </div>
      </div>

            <div class="item">
        <div class="inner-content">
          <a href="/collections/premium-waterproof-backpacks">
             <img src="{{ 'geckobrand new 2.jpg' | asset_url }}">
            <div class="overlay-content">
               <h3>PREMIUM BACKPACKS</h3>
             </div>
          </a>
        </div>
      </div>
      
      <div class="item">
        <div class="inner-content">
          <a href="/collections/other-waterproof-gear">
             <img src="{{ 'geckobrand new 3.jpg' | asset_url }}">
            <div class="overlay-content">
               <h3>OTHER GEAR</h3>
             </div>
          </a>
        </div>
      </div>
      
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Waterproof Collection",
  "settings": [],
   "presets": [{
  "name": "Waterproof Collection"
}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}